{% extends '../../layout/index_C.html' %}
{% load static %}
{% block content %}
{% load tailwind_filters %}



<div class="mb-4 flex items-center">
    <a href="{% url 'coordinador:home_coordinador' %}" class="btn btn-secondary flex items-center">
        <img src="{% static 'botones/barrow.svg' %}" alt="Volver" class="h-20 mr-2">
        <h2 class="mi-h2 mx-auto text-center -mt-5">Volver</h2>
    </a>


</div>


<div class="mb-4  ">
      
    <h1 class="mx-auto mi-h1 text-center">Crear Asignatura</h1>
    </div>





<form class="px-10 font-semibold " method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    
    <!-- Formulario para crear usuario -->

    <div class="card mb-4 borde-trazo-5 pt-2 text-cuscol2">
        <div class="card-header font-semibold p-4">Información General</div>
        <div class="card-body p-4">
            <div class="space-y-4">
                <div>
                    <label class="block text-sm font-medium text-gray-700">Nombre de la Asignatura</label>
                    {{ form.nombre|as_crispy_field  }}
                </div>

                <div>
                    <label class="block text-sm font-medium text-gray-700">Sigla</label>
                    {{ form.sigla|as_crispy_field  }}
                </div>

                <div>
                    <label class="block text-sm font-medium text-gray-700">Coordinador</label>
                    {{ form.coordinador|as_crispy_field  }}
                </div>

                <div>
                    <label class="block text-sm font-medium text-gray-700">Semestre</label>
                    {{ form.semestre|as_crispy_field  }}
                </div>
            </div>

           
        </div>
    </div>

    <div class="relative flex justify-center py-10">
                    
        <button type="submit" class="bg-cuscol4 rounded-3xl boton sombra  border-4 border-cuscol2 text-cuscol2 font-extrabold text-lg py-2 px-4 w-3/4 relative">Crear</button>
    </div>
  
      <!-- Botón para enviar el formulario -->
      
    </form>

{% endblock %}
