{% extends '../../layout/index_C.html' %}
{% load static %}
{% block content %}
{% load tailwind_filters %}




<div class="mb-4 flex items-center">
    <a href="{% url 'coordinador:listar_salida' %}" class="btn btn-secondary flex items-center">
        <img src="{% static 'botones/barrow.svg' %}" alt="Volver" class="h-20 mr-2">
        <h2 class="mx-auto mi-h2 text-center -mt-5">Volver</h2>
    </a>
</div>
  
    <div class="mb-4  ">
      
    <h1 class="mx-auto mi-h1 text-center">Crear Salida a Terreno</h1>
    </div>

  
    <form class="px-10 mb-20 font-semibold " method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        <!-- Formulario para crear usuario -->

        <div class="card mb-4 borde-trazo-5 pt-2 text-cuscol2">
            <div class="card-header font-semibold p-4">Información General</div>
            <div class="card-body p-4">
                <div class="mb-4">
                    <label for="{{ form.estado.id_for_label }}" class="form-label">Estado</label>
                    {{ form.estado|as_crispy_field }}
                </div>
                <div class="mb-4">
                    <label for="{{ form.activo.id_for_label }}" class="form-label">Activo</label>
                    {{ form.activo|as_crispy_field }}
                </div>
                <div class="mb-4 grid grid-cols-1 md:grid-cols-2 gap-4">
                    <div>
                        <label for="{{ form.numero_cuenta.id_for_label }}" class="form-label">Número de Cuenta</label>
                        {{ form.numero_cuenta|as_crispy_field }}
                    </div>
                    <div>
                        <label for="{{ form.semestre.id_for_label }}" class="form-label">Semestre</label>
                        {{ form.semestre|as_crispy_field }}
                    </div>
                </div>
                <div class="mb-4 grid grid-cols-1 md:grid-cols-2 gap-4">
                    <div>
                        <label for="{{ form.anio.id_for_label }}" class="form-label">Año</label>
                        {{ form.anio|as_crispy_field }}
                    </div>
                    <div>
                        <label for="{{ form.semana.id_for_label }}" class="form-label">Semana</label>
                        {{ form.semana|as_crispy_field }}
                    </div>
                </div>
                <div class="mb-4">
                    <label for="{{ form.diasemana.id_for_label }}" class="form-label">Días de la Semana</label>
                    {{ form.diasemana }}
                </div>
                <div class="mb-4">
                    <label for="{{ form.actividad.id_for_label }}" class="form-label">Actividad</label>
                    {{ form.actividad|as_crispy_field }}
                </div>
                <div class="mb-4 grid grid-cols-1 md:grid-cols-2 gap-4">
                    <div>
                        <label for="{{ form.fecha_ingreso.id_for_label }}" class="form-label">Fecha de Inicio</label>
                        {{ form.fecha_ingreso|as_crispy_field }}
                    </div>
                    <div>
                        <label for="{{ form.fecha_termino.id_for_label }}" class="form-label">Fecha de Término</label>
                        {{ form.fecha_termino|as_crispy_field }}
                    </div>
                </div>
                <div class="mb-4 grid grid-cols-1 md:grid-cols-2 gap-4">
                    <div>
                        <label for="{{ form.dias.id_for_label }}" class="form-label">Días</label>
                        {{ form.dias|as_crispy_field }}
                    </div>
                    <div>
                        <label for="{{ form.noches.id_for_label }}" class="form-label">Noches</label>
                        {{ form.noches|as_crispy_field }}
                    </div>
                </div>
                <div class="mb-4">
                    <label for="{{ form.lugar_ejecucion.id_for_label }}" class="form-label">Lugar de Ejecución</label>
                    {{ form.lugar_ejecucion|as_crispy_field }}
                </div>
                <div class="mb-4">
                    <label for="{{ form.asignaturas.id_for_label }}" class="form-label">Asignaturas</label>
                    {{ form.asignaturas|as_crispy_field }}
                </div>
                <div class="mb-4">
                    <label for="{{ form.exp_aprendizaje.id_for_label }}" class="form-label">Experiencia de Aprendizaje</label>
                    {{ form.exp_aprendizaje|as_crispy_field }}
                </div>
                <div class="mb-4">
                    <label for="{{ form.secciones.id_for_label }}" class="form-label">Secciones</label>
                    {{ form.secciones|as_crispy_field }}
                </div>
                <div class="mb-4">
                    <label for="{{ form.docentes_apoyo.id_for_label }}" class="form-label">Docentes de Apoyo</label>
                    {{ form.docentes_apoyo|as_crispy_field }}
                </div>
                <div class="mb-4">
                    <label for="{{ form.num_salida.id_for_label }}" class="form-label">Número de Salida</label>
                    {{ form.num_salida|as_crispy_field }}
                </div>
                <div class="mb-4">
                    <label for="{{ form.observaciones.id_for_label }}" class="form-label">Observaciones</label>
                    {{ form.observaciones|as_crispy_field }}
                </div>
                <div class="mb-4">
                    <label for="{{ form.semaforo.id_for_label }}" class="form-label">Semáforo</label>
                    {{ form.semaforo|as_crispy_field }}
                </div>



                <div class="mb-4">
                    <label for="{{ form.docente_reemplazo.id_for_label }}" class="form-label">Docente Reemplazo</label>
                    {{ form.docente_reemplazo|as_crispy_field }}
                </div>

                <div class="mb-4">
                    <label for="{{ form.docente_responsable_doc.id_for_label }}" class="form-label">Docente Responsable Doc</label>
                    {{ form.docente_responsable_doc|as_crispy_field }}
                </div>

                <div class="mb-4">
                    <label for="{{ form.totalhoras.id_for_label }}" class="form-label">Total de Horas</label>
                    {{ form.totalhoras|as_crispy_field }}
                </div>

                <div class="mb-4">
                    <label for="{{ form.linkmapa.id_for_label }}" class="form-label">Link de Mapa</label>
                    {{ form.linkmapa|as_crispy_field }}
                </div>

                <div class="mb-4">
                    <label for="{{ form.iframe_html.id_for_label }}" class="form-label">Link de Iframe</label>
                    {{ form.iframe_html|as_crispy_field }}
                </div>

                <div class="mb-4">
                    <label for="{{ form.cantidad_alumnos.id_for_label }}" class="form-label">Cantidad de Alumnos</label>
                    {{ form.cantidad_alumnos|as_crispy_field }}
                </div>

                <div class="mb-4">
                    <label for="{{ form.proveedor_sugerido.id_for_label }}" class="form-label">Proveedor Sugerido</label>
                    {{ form.proveedor_sugerido|as_crispy_field }}
                </div>

                <div class="mb-4">
                    <label for="{{ form.nro_oc_transporte.id_for_label }}" class="form-label">Nro OC Transporte</label>
                    {{ form.nro_oc_transporte|as_crispy_field }}
                </div>

                <div class="mb-4">
                    <label for="{{ form.proveedor_transporte.id_for_label }}" class="form-label">Proveedor Transporte</label>
                    {{ form.proveedor_transporte|as_crispy_field }}
                </div>

                <div class="mb-4">
                    <label for="{{ form.valor_transporte.id_for_label }}" class="form-label">Valor Transporte</label>
                    {{ form.valor_transporte|as_crispy_field }}
                </div>

                <div class="mb-4">
                    <label for="{{ form.proveedor_servicios.id_for_label }}" class="form-label">Proveedor Servicios</label>
                    {{ form.proveedor_servicios|as_crispy_field }}
                </div>

                <div class="mb-4">
                    <label for="{{ form.nro_oc_servicios.id_for_label }}" class="form-label">Nro OC Servicios</label>
                    {{ form.nro_oc_servicios|as_crispy_field }}
                </div>

                <div class="mb-4">
                    <label for="{{ form.valor_servicios.id_for_label }}" class="form-label">Valor Servicios</label>
                    {{ form.valor_servicios|as_crispy_field }}
                </div>

                <div class="mb-4">
                    <label for="{{ form.observaciones_programacion.id_for_label }}" class="form-label">Observaciones Programacion</label>
                    {{ form.observaciones_programacion|as_crispy_field }}
                </div>

                

                

                

                

            

                

                
        </div>
        <div class="relative flex justify-center py-10">
                        
            <button type="submit" class="bg-cuscol4 rounded-3xl boton sombra  border-4 border-cuscol2 text-cuscol2 font-extrabold text-lg py-2 px-4 w-3/4 relative">Crear</button>
        </div>
      
          <!-- Botón para enviar el formulario -->
          
        </form>






{% endblock %}