{% extends '../../layout/index_C.html' %}
{% load static %}
{% block content %}
{% load tailwind_filters %}

<div class="mb-4 flex items-center py-14">
    <button class="btn btn-secondary flex items-center">
      <img src="{% static 'botones/barrow.svg' %}" alt="Volver" class="h-6 mr-2 "> <!-- Ajustar el tamaño de la imagen para que sea más flexible -->
      <span class="text-2xl sm:text-3xl font-extrabold">Volver</span> <!-- Texto adaptativo para pantallas pequeñas -->
    </button>
</div>

<h1 class="text-3xl pd sm:text-5xl font-extrabold mb-4 md:mb-0 text-center md:text-center w-full md:w-auto">Salidas a terreno</h1>

<div class="mb-4 flex flex-col items-center md:flex-row md:items-center md:justify-between px-4">
   
    
    <div class="md:ml-auto">
        <a href="{% url 'coordinador:crear_salida' %}" class="boton borde-trazo-3 px-6 py-2 text-sm sm:text-base">Agregar nueva salida
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline-block ml-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
            </svg>
        </a>
    </div>
</div>


 




<ul class="max-w-2xl mx-auto my-20  divide-y  shadow-xl shadow-cuscol2 rounded-xl border-cuscol2 border-4 sm:hidden ">
    {% for salida in salidas %}
    
    <li>
        <details class="group bg-cuscol2 text-cuscol4">
            <summary class="flex items-center gap-3 px-4 py-3 font-medium marker:content-none hover:cursor-pointer">
                <svg class="w-5 h-5 text-gray-500 transition group-open:rotate-90" xmlns="http://www.w3.org/2000/svg"
                    width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z">
                    </path>
                </svg>
                <div class="flex-1 relative text-center">
                    <!-- Span content -->
                    <span class="block mb-2">{{ salida.actividad }} - {{ salida.numero_cuenta }} </span>
                    
                    <!-- Bar container -->
                    <div class="flex w-full">
                        <!-- Left bar (1/3) -->
                        <div class="w-1/3 h-5 bg-cuscol1 rounded-bl-2xl"></div>
                        <!-- Right bar (2/3) -->
                        <div class="w-2/3 h-5 bg-cuscol3 rounded-br-2xl"></div>
                    </div>
                </div>
            </summary>

 

                
                <div class="bg-white max-w-2xl shadow overflow-hidden sm:rounded-lg">
                    <div class="px-4 py-5 sm:px-6 ">
                        <div class="flex flex-col text-cuscol2 sm:flex-row flex-wrap gap-4 ">
                            <a href="{% url 'coordinador:editar_salida' salida.id %}" class="boton borde-trazo-3 px-6 py-2 text-sm sm:text-base flex items-center justify-center">Editar </a>
                            <a href="#" class="boton borde-trazo-3 px-6 py-2 text-sm sm:text-base flex items-center justify-center">Notificar</a>
                            <a href="#" class="boton borde-trazo-3 px-6 py-2 text-sm sm:text-base flex items-center justify-center">Agregar documentos</a>
                            <a href="#" class=" rounded-xl  bg-gray-400 hover:bg-cuscol2 text-white borde-trazo-3 px-6 py-2 text-sm sm:text-base flex items-center justify-center">Eliminar</a>
                        </div>
                        <h3 class="text-lg leading-6 font-medium text-gray-900 pt-10">
                            Detalle de salida 
                        </h3>
                        <p class="mt-1 max-w-2xl text-sm text-gray-500">
                            {{ salida.actividad }}
                        </p>
                    </div>
                    
                    <div class="border-t border-gray-200 text-center">
                        <dl class="">
                            <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 border-y-2 border-cuscol2">
                                <dt class="text-sm font-medium text-gray-500 ">
                                    Viabilidad
                                </dt>
                                <dd class="mt-10 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                    <span class="ml-2  px-7 py-4 rounded-full text-white 
                            {% if salida.semaforo == 'verde' %}
                                bg-green-500
                            {% elif salida.semaforo == 'amarillo' %}
                                bg-yellow-500
                            {% elif salida.semaforo == 'rojo' %}
                                bg-red-500    
                            {% else %}
                                bg-gray-500
                            {% endif %}">
                           
                        </span>

                        
                                </dd>
                                
                            </div>
                            <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 border-b-2 border-cuscol2">
                                <dt class="text-sm font-medium text-gray-500">
                                    Visible?
                                </dt>
                                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2 flex justify-center">
                                        <span class="text-center font-extrabold text-3xl
                                            {% if salida.activo == True %}
                                                text-green-500
                                            {% elif salida.activo == False %}
                                                text-red-500  
                                            {% endif %}">
                                            {% if salida.activo == True %}
                                            
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.0" stroke="currentColor" class="w-10 h-10">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                        </svg>
                                        {% elif salida.activo == False %}
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.0" stroke="currentColor" class="w-10 h-10">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M3.98 8.223A10.477 10.477 0 001.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.45 10.45 0 0112 4.5c4.756 0 8.773 3.162 10.065 7.498a10.523 10.523 0 01-4.293 5.774M6.228 6.228L3 3m3.228 3.228l3.65 3.65m7.894 7.894L21 21m-3.228-3.228l-3.65-3.65m0 0a3 3 0 10-4.243-4.243m4.242 4.242L9.88 9.88" />
                                        </svg>
                                        {% endif %}
                                        </span>
                                </dd>
                            </div>
                            <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 border-b-2 border-cuscol2">
                                <dt class="text-sm font-medium text-gray-500">
                                    Situación
                                </dt>
                                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2 2">
                                    {{ salida.estado }}
                                </dd>
                            </div>
                            <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 border-b-2 border-cuscol2">
                                <dt class="text-sm font-medium text-gray-500">
                                    Nº Cuenta 
                                </dt>
                                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                    {{ salida.numero_cuenta }}
                                </dd>
                            </div>


                            <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 border-b-2 border-cuscol2">
                                <dt class="text-sm font-medium text-gray-500">
                                    Semestre
                                </dt>
                                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                    {{ salida.get_semestre_display }}
                                </dd>
                            </div>

                            <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 border-b-2 border-cuscol2">
                                <dt class="text-sm font-medium text-gray-500">
                                    Año
                                </dt>
                                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                    {{ salida.anio }}
                                </dd>
                            </div>
                            <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 border-b-2 border-cuscol2">
                                <dt class="text-sm font-medium text-gray-500">
                                    Semana
                                </dt>
                                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                    {{ salida.semana }}
                                </dd>
                            </div>
                            <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 border-b-2 border-cuscol2">
                                <dt class="text-sm font-medium text-gray-500">
                                    Dias Semana
                                </dt>
                                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                    {% if salida.diasemana.all %}
                                    {% for dia in salida.diasemana.all %}
                                        {{ dia.nombre }}{% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                {% else %}
                                    Por definir
                                {% endif %}
                                </dd>
                            </div>
                            <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 border-b-2 border-cuscol2">
                                <dt class="text-sm font-medium text-gray-500">
                                    fecha inicio
                                </dt>
                                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                    {{ salida.fecha_ingreso }}
                                </dd>
                            </div>
                            <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 border-b-2 border-cuscol2">
                                <dt class="text-sm font-medium text-gray-500">
                                    fecha termino
                                </dt>
                                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                    {{ salida.fecha_termino }}
                                </dd>
                            </div>
                            <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 border-b-2 border-cuscol2">
                                <dt class="text-sm font-medium text-gray-500">
                                    DÍAS
                                </dt>
                                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                    {{ salida.dias }}
                                </dd>
                            </div>
                            <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 border-b-2 border-cuscol2">
                                <dt class="text-sm font-medium text-gray-500">
                                    NOCHES
                                </dt>
                                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                    {{ salida.noches }}
                                </dd>
                            </div>
                            <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 border-b-2 border-cuscol2">
                                <dt class="text-sm font-medium text-gray-500">
                                    Lugar de ejecución
                                </dt>
                                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                    {{ salida.lugar_ejecucion }}
                                </dd>
                            </div>
                            <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 border-b-2 border-cuscol2">
                                <dt class="text-sm font-medium text-gray-500">
                                    ASIGNATURAS
                                </dt>
                                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                    {% for asignatura in salida.asignaturas.all %}
                                    <span class="inline-block bg-blue-100 text-blue-600 px-2 py-1 rounded-full text-xs">
                                        {{ asignatura.nombre }} - {{ asignatura.sigla }}
                                    </span>
                                {% empty %}
                                    <span class="text-gray-400">No asignadas</span>
                                {% endfor %}
                                </dd>
                            </div>
                            <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 border-b-2 border-cuscol2">
                                <dt class="text-sm font-medium text-gray-500">
                                    EXPERIENCIA  DE APRENDIZAJE
                                </dt>
                                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                    {{ salida.exp_aprendizaje }}
                                </dd>
                            </div>
                            <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 border-b-2 border-cuscol2">
                                <dt class="text-sm font-medium text-gray-500">
                                    Q ALUMNOS
                                </dt>
                                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                    {{ salida.total_inscritos }}
                                </dd>
                            </div>
                            <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 border-b-2 border-cuscol2">
                                <dt class="text-sm font-medium text-gray-500">
                                    SECCIONES POR DOCENTE
                                </dt>
                                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                    {% for seccion in salida.secciones.all %}
                                        {{ seccion }}{% if not forloop.last %}, {% endif %}
                                    {% empty %}
                                        Sin secciones
                                    {% endfor %}
                                </dd>
                            </div>
                            <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 border-b-2 border-cuscol2">
                                <dt class="text-sm font-medium text-gray-500">
                                    DOCENTES TITULARES
                                </dt>
                                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                    {% for asignatura in salida.asignaturas.all %}
                                    
                                    ({{ asignatura.coordinador.usersmetadata.nombres|default:"Sin nombre" }} {{ asignatura.coordinador.usersmetadata.ap_paterno|default:"Sin apellido" }} - {{ asignatura.nombre }}) {% if not forloop.last %}, {% endif %}
                                        
                                    {% empty %}
                                        <span class="text-gray-400">No asignadas</span>
                                    {% endfor %}
                                </dd>
                            </div>
                            <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 border-b-2 border-cuscol2">
                                <dt class="text-sm font-medium text-gray-500">
                                    DOCENTES APOYO PROPUESTO
                                </dt>
                                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                    {% for docente in salida.docentes_apoyo.all %}
                                    ( {{ docente.nombres }} {{ docente.ap_paterno }}){% if not forloop.last %}, {% endif %}
                                    {% empty %}
                                        <span class="text-gray-400">Sin docentes de apoyo</span>
                                    {% endfor %}
                                </dd>
                            </div>
                            <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 border-b-2 border-cuscol2">
                                <dt class="text-sm font-medium text-gray-500">
                                    Nº SALIDA
                                </dt>
                                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                    {{ salida.num_salida }}
                                </dd>
                            </div>

                           


                            




















                            <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                <dt class="text-sm font-medium text-gray-500">
                                    Observaciones
                                </dt>
                                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                    {{ salida.observaciones }}
                                </dd>
                            </div>
                        </dl>
                    </div>
                </div>
            </article>
        </details>
    </li>
    {% endfor %}

    <div class="mt-6 flex justify-center">
        <nav class="inline-flex rounded-md shadow-sm -space-x-px" aria-label="Pagination">
            {% if salidas.has_previous %}
            <a href="?page={{ salidas.previous_page_number }}" class="px-4 py-2 bg-white text-gray-700 hover:bg-gray-100 rounded-l-md">Anterior</a>
            {% endif %}

            {% for num in salidas.paginator.page_range %}
            <a href="?page={{ num }}" 
                class="px-4 py-2 {% if num == salidas.number %} bg-blue-500 text-white {% else %} bg-white text-gray-700 hover:bg-gray-100 {% endif %}">
                {{ num }}
            </a>
            {% endfor %}

            {% if salidas.has_next %}
            <a href="?page={{ salidas.next_page_number }}" class="px-4 py-2 bg-white text-gray-700 hover:bg-gray-100 rounded-r-md">Siguiente</a>
            {% endif %}
        </nav>
    </div>
</ul>
    

{% for salida in salidas %}

<div class="hidden sm:block">
   
    <div class="w-full py-8  ">
        <div class="overflow-x-auto">


            <div class="my-10 flex  "> 
                <a href="{% url 'coordinador:editar_salida' salida.id %}" class="boton borde-trazo-3 px-6 mx-5 py-2 text-sm sm:text-base flex items-center">
                    <span>Editar </span>
                </a>
                <button class="boton borde-trazo-3 px-6 mx-5 py-2 text-sm sm:text-base flex items-center">
                    <span>Notificar</span>
                    
                </button>
                <button class="boton borde-trazo-3 px-6 mx-2 py-2 text-sm sm:text-base flex items-center">
                    <span>Agregar documentos</span>
                    
                </button>
                <button class="rounded-xl  bg-gray-400 hover:bg-cuscol2 text-white px-6 mx-2 py-2 text-sm sm:text-base flex items-center">
                    <span>Eliminar</span>
                    
                </button>
                </div>
                
{% comment %} card {% endcomment %}
<div class=" relative hidden sm:block">
    <div class="top-0 left-0 right-0  ">
    <div class="absolute w-56 h-48  bg-cuscol2 -bottom-48 left-4 rounded-2xl">
        <span class="absolute text-cuscol3 text-2xl font-bold right-10">
            {{ salida.numero_cuenta }}
        </span>
        <div class="flex justify-center items-center h-full">
            <span class="text-cuscol4 text-center text-base font-bold">
                {{ salida.actividad }}
            </span>
        </div>

    </div >  
<div class="absolute w-28 h-5  bg-cuscol1 top-44 left-4 rounded-bl-2xl">
</div >
<div class="absolute w-44 h-5  bg-cuscol3 top-44 left-16 rounded-br-2xl">                 
</div >
</div ></div >

{% comment %} card end {% endcomment %}
               
   {% comment %} tabla {% endcomment %}
        <table class="min-w-full bg-white border border-gray-300 shadow-md rounded-lg border-separate border-spacing-0 sm:pl-72  ">
            <thead class="bg-white-600 ">
                
                <tr class= >
                    
                    <th class="rounded-tl-2xl  border-cuscol2 border-4  bg-white px-12 py-2 text-cuscol2 font-semibold text-end ">Viabilidad</th>
                    <th class="border-cuscol2 border-y-4 border-r-4  bg-white px-12 py-2 text-cuscol2 font-semibold">Visible?</th>
                    <th class="border-cuscol2 border-y-4 border-r-4  bg-white px-12 py-2 text-cuscol2 font-semibold">Situación</th>
                    <th class="border-cuscol2 border-y-4 border-r-4  bg-white px-12 py-2 text-cuscol2 font-semibold">Nº Cuenta</th>
                    <th class="border-cuscol2 border-y-4 border-r-4  bg-white px-12 py-2 text-cuscol2 font-semibold">Semestre</th>
                    <th class="border-cuscol2 border-y-4 border-r-4  bg-white px-12 py-2 text-cuscol2 font-semibold">Año</th>
                    <th class="border-cuscol2 border-y-4 border-r-4  bg-white px-12 py-2 text-cuscol2 font-semibold">Semana</th>
                    <th class="border-cuscol2 border-y-4 border-r-4  bg-white px-12 py-2 text-cuscol2 font-semibold">Dias Semana</th>
                    <th class="border-cuscol2 border-y-4 border-r-4  bg-white px-12 py-2 text-cuscol2 font-semibold">fecha inicio</th>
                    <th class="border-cuscol2 border-y-4 border-r-4  bg-white px-12 py-2 text-cuscol2 font-semibold">fecha termino</th>
                    <th class="border-cuscol2 border-y-4 border-r-4  bg-white px-12 py-2 text-cuscol2 font-semibold">DÍAS</th>
                    <th class="border-cuscol2 border-y-4 border-r-4  bg-white px-12 py-2 text-cuscol2 font-semibold">NOCHES</th>
                    <th class="border-cuscol2 border-y-4 border-r-4  bg-white px-12 py-2 text-cuscol2 font-semibold">Lugar de ejecución</th>
                    <th class="border-cuscol2 border-y-4 border-r-4  bg-white px-12 py-2 text-cuscol2 font-semibold">ASIGNATURAS</th>
                    <th class="border-cuscol2 border-y-4 border-r-4  bg-white px-12 py-2 text-cuscol2 font-semibold">EXPERIENCIA  DE APRENDIZAJE</th>
                    <th class="border-cuscol2 border-y-4 border-r-4  bg-white px-12 py-2 text-cuscol2 font-semibold">Q ALUMNOS</th>
                    <th class="border-cuscol2 border-y-4 border-r-4  bg-white px-12 py-2 text-cuscol2 font-semibold">SECCIONES POR DOCENTE</th>
                    <th class="border-cuscol2 border-y-4 border-r-4  bg-white px-12 py-2 text-cuscol2 font-semibold">DOCENTES TITULARES</th>
                    <th class="border-cuscol2 border-y-4 border-r-4  bg-white px-12 py-2 text-cuscol2 font-semibold">DOCENTES APOYO PROPUESTO</th>
                    <th class="border-cuscol2 border-y-4 border-r-4  bg-white px-12 py-2 text-cuscol2 font-semibold">Nº SALIDA</th>
                    <th class="rounded-tr-2xl border-cuscol2 border-y-4 border-r-4  bg-white px-12 py-2 text-cuscol2 font-semibold">Observaciones</th>





                </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 text-center">

 

                <tr class="hover:bg-gray-50">
                    <td class="rounded-bl-2xl   border-cuscol2 border-b-4 border-x-4  bg-white px-20 py-2 text-cuscol2">
                        
                        <span class="ml-2 px-7 py-4 rounded-full text-white 
                            {% if salida.semaforo == 'verde' %}
                                bg-green-500
                            {% elif salida.semaforo == 'amarillo' %}
                                bg-yellow-500
                            {% elif salida.semaforo == 'rojo' %}
                                bg-red-500    
                            {% else %}
                                bg-gray-500
                            {% endif %}">
                           
                        </span>
                    </td>
                    <td class="border-cuscol2 border-b-4 border-r-4  bg-white px-20 py-2 ">
                        
                        <span class=" text-center font-extrabold text-3xl
                            {% if salida.activo == True %}
                                text-green-500
                            {% elif salida.activo == False %}
                                text-red-500  
                            {% endif %}">
                            {% if salida.activo == True %}
                            
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.0" stroke="currentColor" class="w-10 h-10">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                        </svg>
                        {% elif salida.activo == False %}
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.0" stroke="currentColor" class="w-10 h-10">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M3.98 8.223A10.477 10.477 0 001.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.45 10.45 0 0112 4.5c4.756 0 8.773 3.162 10.065 7.498a10.523 10.523 0 01-4.293 5.774M6.228 6.228L3 3m3.228 3.228l3.65 3.65m7.894 7.894L21 21m-3.228-3.228l-3.65-3.65m0 0a3 3 0 10-4.243-4.243m4.242 4.242L9.88 9.88" />
                        </svg>
                        {% endif %}
                        </span>
                    </td>
                    <td class="border-cuscol2 border-b-4 border-r-4 bg-white px-4 py-2 text-cuscol2 min-w-[120px] whitespace-normal">{{ salida.estado }}</td>
                    <td class="border-cuscol2 border-b-4 border-r-4 bg-white px-4 py-2 text-cuscol2 min-w-[120px] whitespace-normal">{{ salida.numero_cuenta }}</td>
                    <td class="border-cuscol2 border-b-4 border-r-4 bg-white px-4 py-2 text-cuscol2 min-w-[100px] whitespace-normal">{{ salida.get_semestre_display }}</td>
                    <td class="border-cuscol2 border-b-4 border-r-4 bg-white px-4 py-2 text-cuscol2 min-w-[80px] whitespace-normal">{{ salida.anio }}</td>
                    <td class="border-cuscol2 border-b-4 border-r-4 bg-white px-4 py-2 text-cuscol2 min-w-[100px] whitespace-normal">{{ salida.semana }}</td>
                    <td class="border-cuscol2 border-b-4 border-r-4 bg-white px-4 py-2 text-cuscol2 min-w-[150px] whitespace-normal">
                        {% if salida.diasemana.all %}
                            {% for dia in salida.diasemana.all %}
                                {{ dia.nombre }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        {% else %}
                            Por definir
                        {% endif %}
                    </td>
                    <td class="border-cuscol2 border-b-4 border-r-4 bg-white px-4 py-2 text-cuscol2 min-w-[120px] whitespace-normal">{{ salida.fecha_ingreso }}</td>
                    <td class="border-cuscol2 border-b-4 border-r-4 bg-white px-4 py-2 text-cuscol2 min-w-[120px] whitespace-normal">{{ salida.fecha_termino }}</td>
                    <td class="border-cuscol2 border-b-4 border-r-4 bg-white px-4 py-2 text-cuscol2 min-w-[80px] whitespace-normal">{{ salida.dias }}</td>
                    <td class="border-cuscol2 border-b-4 border-r-4 bg-white px-4 py-2 text-cuscol2 min-w-[80px] whitespace-normal">{{ salida.noches }}</td>
                    <td class="border-cuscol2 border-b-4 border-r-4 bg-white px-4 py-2 text-cuscol2 min-w-[200px] whitespace-normal">{{ salida.lugar_ejecucion }}</td>
                    <td class="border-cuscol2 border-b-4 border-r-4 bg-white px-4 py-2 text-cuscol2 min-w-[250px] whitespace-normal">
                        {% for asignatura in salida.asignaturas.all %}
                            <span class="inline-block bg-blue-100 text-blue-600 px-2 py-1 rounded-full text-xs mb-1">
                                {{ asignatura.nombre }} - {{ asignatura.sigla }}
                            </span>
                        {% empty %}
                            <span class="text-gray-400">No asignadas</span>
                        {% endfor %}
                    </td>
                    <td class="border-cuscol2 border-b-4 border-r-4 bg-white px-4 py-2 text-cuscol2 min-w-[200px] whitespace-normal">{{ salida.exp_aprendizaje }}</td>
                    <td class="border-cuscol2 border-b-4 border-r-4 bg-white px-4 py-2 text-cuscol2 min-w-[100px] whitespace-normal">{{ salida.total_inscritos }}</td>
                    <td class="border-cuscol2 border-b-4 border-r-4 bg-white px-4 py-2 text-cuscol2 min-w-[200px] whitespace-normal">
                        {% for seccion in salida.secciones.all %}
                            {{ seccion }}{% if not forloop.last %}, {% endif %}
                        {% empty %}
                            Sin secciones
                        {% endfor %}
                    </td>
                    <td class="border-cuscol2 border-b-4 border-r-4 bg-white px-4 py-2 text-cuscol2 min-w-[250px] whitespace-normal">
                        {% for asignatura in salida.asignaturas.all %}
                            <div class="mb-1">
                                ({{ asignatura.coordinador.usersmetadata.nombres|default:"Sin nombre" }} {{ asignatura.coordinador.usersmetadata.ap_paterno|default:"Sin apellido" }} - {{ asignatura.nombre }})
                            </div>
                        {% empty %}
                            <span class="text-gray-400">No asignadas</span>
                        {% endfor %}
                    </td>
                    <td class="border-cuscol2 border-b-4 border-r-4 bg-white px-4 py-2 text-cuscol2 min-w-[200px] whitespace-normal">
                        {% for docente in salida.docentes_apoyo.all %}
                            <div class="mb-1">
                                ({{ docente.nombres }} {{ docente.ap_paterno }})
                            </div>
                        {% empty %}
                            <span class="text-gray-400">Sin docentes de apoyo</span>
                        {% endfor %}
                    </td>
                    <td class="border-cuscol2 border-b-4 border-r-4 bg-white px-4 py-2 text-cuscol2 min-w-[100px] whitespace-normal">{{ salida.num_salida }}</td>
                    <td class="rounded-br-2xl border-cuscol2 border-b-4 border-r-4 bg-white px-4 py-2 text-cuscol2 min-w-[200px] whitespace-normal">{{ salida.observaciones }}</td>
                </tr>
            </tbody>
        </table>
         {% comment %} tabla end {% endcomment %}
    </div>
    {% endfor %}

    <!-- Paginación -->
    <div class="mt-6 flex justify-center">
        <nav class="inline-flex rounded-md shadow-sm -space-x-px" aria-label="Pagination">
            {% if salidas.has_previous %}
            <a href="?page={{ salidas.previous_page_number }}" class="px-4 py-2 bg-white text-gray-700 hover:bg-gray-100 rounded-l-md">Anterior</a>
            {% endif %}

            {% for num in salidas.paginator.page_range %}
            <a href="?page={{ num }}" 
                class="px-4 py-2 {% if num == salidas.number %} bg-blue-500 text-white {% else %} bg-white text-gray-700 hover:bg-gray-100 {% endif %}">
                {{ num }}
            </a>
            {% endfor %}

            {% if salidas.has_next %}
            <a href="?page={{ salidas.next_page_number }}" class="px-4 py-2 bg-white text-gray-700 hover:bg-gray-100 rounded-r-md">Siguiente</a>
            {% endif %}
        </nav>
    </div>
</div>


    
{% endblock %}