{% extends '../layout/index.html' %}
{% block content %}
{% load static %}
<!-- https://play.tailwindcss.com/MIwj5Sp9pw -->
<!-- component -->


{% if error_message %}
<div id="error-alert" class="flex items-center p-4 mb-4 text-sm border border-blue-300 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400 dark:border-blue-800" role="alert">
    <svg class="flex-shrink-0 inline w-4 h-4 me-3 text-red-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
    </svg>
    <div class="text-white px-4">
        <span class="font-medium text-red-500">Error:</span> {{ error_message }}
    </div>
    <button id="close-alert" class="ml-auto -mx-1.5 -my-1.5 bg-blue-50 text-blue-500 rounded-lg focus:ring-2 focus:ring-blue-400 p-1.5 inline-flex h-8 w-8 dark:bg-gray-800 dark:text-blue-400" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}


  


  
  
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Botones para abrir modal
        const modalToggles = document.querySelectorAll('[data-modal-toggle]');
        // Botones para cerrar modal
        const modalHides = document.querySelectorAll('[data-modal-hide]');
        // El modal
        const modal = document.getElementById('default-modal');

        // Función para mostrar el modal
        function showModal() {
            modal.classList.remove('hidden');
            modal.classList.add('flex');
        }

        // Función para ocultar el modal
        function hideModal() {
            modal.classList.add('hidden');
            modal.classList.remove('flex');
        }

        // Event listeners para abrir
        modalToggles.forEach(button => {
            button.addEventListener('click', showModal);
        });

        // Event listeners para cerrar
        modalHides.forEach(button => {
            button.addEventListener('click', hideModal);
        });
    });


        // Cerrar automáticamente después de 15 segundos
        setTimeout(() => {
            const alert = document.getElementById('error-alert');
            if (alert) {
                alert.remove();
            }
        }, 15000);
    
        // Cerrar manualmente al presionar el botón
        document.getElementById('close-alert')?.addEventListener('click', () => {
            const alert = document.getElementById('error-alert');
            if (alert) {
                alert.remove();
            }
        });


</script>
  
<div class="relative" >
    <div class="absolute" >
    <img src="{% static 'images/elementos gráficos/esquina-eco.webp' %}" alt="Imagen" class="object-cover w-36 h-36">
    </div>
</div>

<div class="bg-cuscol2 flex justify-center items-center h-screen overflow-hidden">

    <!-- Izquierda: Formulario de Inicio de Sesión -->
    <div class="lg:p-36 md:p-52 sm:p-20 p-8 w-full lg:w-1/2 sm:mt-36">
        <div class="rounded-xl shadow-lg bg-white">
            <div class=" rounded-xl px-6 py-8 pt-10 shadow-lg bg-cuscol4 relative">
                
                <!-- Logo -->
                <div class="relative">
                    <div class="absolute inset-0 bg-cuscol2 border-4 w-44 h-44 -top-36 -left-0 mx-auto border-white rounded-xl items-center">
                        <img src="{% static 'images/elementos gráficos/logo-iniciar-sesion.webp' %}" alt="Logo" class="relative w-44 h-44 border-4 mx-auto border-white rounded-xl -top-4 -left-2">
                    </div>
                </div>
                
                <!-- Título -->
                

                <span class="mi-h1 pt-10  mt-10 text-center text-cuscol2 text-2xl  mb-8">Iniciar sesión</span>
                
                <!-- Formulario -->
                <form action="#" method="POST" class="pt-3">
                    {% csrf_token %}
                    <!-- Campo de Usuario -->
                    <div class="mb-4">
                        <label for="username" class="block text-cuscol2 mi-p">Usuario</label>
                        <input type="text" id="id_username" name="username" class="w-full border border-cuscol2 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500" autocomplete="off">
                    </div>
                    
                    <!-- Campo de Contraseña -->
                    <div class="mb-4">
                        <label for="password" class="block text-cuscol2 mi-p">Contraseña</label>
                        <input type="password" id="password" name="password" class="w-full border border-cuscol2 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500" autocomplete="off">
                    </div>
                    
                    <!-- Botón de Ingreso -->
                    <div class="relative flex justify-center">
                        
                        <button type="submit" class="bg-cuscol4 rounded-3xl boton sombra  border-4 border-cuscol2 text-cuscol2 mi-p bold py-2 px-4 w-3/4 relative">Ingresar</button>
                    </div>
                </form>
                
                <!-- Enlace de Olvidó Contraseña -->
                <div class="mt-6 text-center text-blue-500">
                    <a href="#" class="hover:underline mi-p">¿Olvidaste tu contraseña?</a>
                </div>
                
                <!-- Enlace de Registro -->
                <div class="mt-2 text-blue-500 text-center">
                    <a href="#" class="hover:underline mi-p">¿No tienes cuenta?</a>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Derecha: Imagen -->
    <div class="w-1/2 h-full hidden lg:flex ">
        <img src="{% static 'images//imga1.webp' %}" alt="Imagen" class="object-cover w-full h-screen">
    </div>
</div>



{% endblock %}